@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap");
    height: 75px;
}

.wrapper:hover{
    background: #a1d4ff;
}

header{
    position: fixed;
    width: 100%; 
}

header .wrapper{
    padding: 0 2%;
    display: flex;
    align-items: center;
}

header a img{
    width: 150px;
    margin-top: 20px;
    padding-bottom: 20px;
}

nav ul{
    padding-left: 200px;
}

nav ul li{
    display: inline;
    margin-left: 10px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 5px;
}

nav ul li a:hover {
    color: #333;
}

.login:hover{
    padding: 8px 16px;
    background-color: #00b2ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
/*  ============= banner ============= */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("https://i.postimg.cc/Bn1MRpzL/lepkom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    padding: 0 10%;
}

.title {
    background-color: rgba(140, 139, 139, 0.422);
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
}
