@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/assets/background\ login.png);
    background-position: center ;
}

.login-container {
    background: transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    height: 220px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2{
    margin-bottom: 10px;
    font-size: 26px;
    color: #fff;
}

.input-box {
    width: 100%;
    height: 30px;
    margin: 5px;
}
.input-box i{
    color: #fff;
}

.input-box input {
    width: 90%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    padding-left: 10px ;
    color: #fff;
}
.input-box input::placeholder {
    color: #fff;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
}

.login-container .button {
    width: 30%;
    background: #fff ;
    border-radius: 50px ;
    border: none;
    cursor: pointer;
}



    
   